.d-flex {
    display: flex;
}

.input-freq {
    font-size: 20px;
    background-color: #333;
    color: #ffc539;
    border: 1px solid #ffc539;
    border-left: 0px;
    text-align: center;
    height: 35px;
    width: 16px;
    text-underline-offset: 3px;
    caret-color: transparent;
}

.input-freq:focus {
    animation: blinkUnderline;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.input-freq:hover {
    background-color: #7e621e;
}

@keyframes blinkUnderline {
    from { text-decoration: none; }
    to { text-decoration: underline; }
}