<div class="d-flex">
    <input type="text" #freqDigit class="input-freq">
    <input type="text" disabled value="," class="input-freq">
    <input type="text" #freqDigit class="input-freq">
    <input type="text" #freqDigit class="input-freq">
    <input type="text" #freqDigit class="input-freq">
    <input type="text" disabled value="," class="input-freq">
    <input type="text" #freqDigit class="input-freq">
    <input type="text" #freqDigit class="input-freq">
    <input type="text" #freqDigit class="input-freq">
</div>